<a href="https://colab.research.google.com/github/FerdyAgustiann/Ferdy/blob/main/Latihan_DAA_pertemuan_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import numpy as np
a = [1,2,3]
b = [4,5,6]

hasil = a + b
print(hasil)

[1, 2, 3, 4, 5, 6]

In [ ]:
import numpy as np
nilai_siswa = np.array([85,55,40,90])
print(nilai_siswa[3])

90

In [ ]:
def add(a, b):
    result = []
    for first, second in zip(a, b):
        result.append(first + second)
    return result

a = [1, 2, 3]
b = [4, 5, 6]

hasil = add(a, b)
print("hasil:", hasil)

hasil: [5, 7, 9]

In [ ]:
import numpy as np
print(np.__version__)

1.23.5

# Big O Notation
## Constant time (o(1)) complexity

In [ ]:
print("Hello, World!")
print("Nama saya (Ferdy Agustian)")
print("NIM saya (2022071018)")

Hello, World!
Nama saya (Ferdy Agustian)
NIM saya (2022071018)

In [ ]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = 4
x = "Sally"
print(x)

Sally

In [ ]:
def getFirst(myList):
    return myList[0]

In [ ]:
getFirst([1,2,3])

1

In [ ]:
getFirst([1,2,3,4,5,6,7,8,9,10])

1

In [ ]:
def getSecond(myList):
    return myList[1]
getSecond([1,2,3,4,5,6,7,8,9,10])

2

In [ ]:
def getLast(myList):
  return myList[2]
  myList[len(myList)-1]
getLast([1,2,3])

3

In [ ]:
def getLast(myList):
  return myList[9]
  myList[len(myList)-1]
getLast([1,2,3,4,5,6,7,8,9,10])

10

In [ ]:
def getSum(myList):
    sum = 0
    for item in myList:
      sum = sum + item
    return sum

In [ ]:
getSum([1,2,3,4])

10

In [ ]:
getSum([1,2,3])

6

In [ ]:
getSum([7,3,5,11,8,10])

44

In [ ]:
getSum([-2,4,5,-7,9,4,5])

18

In [ ]:
def getKali(myList):
    Kali = 1
    for item in myList:
      Kali = Kali * item
    return Kali

In [ ]:
getKali([1,2,3])

6

In [ ]:
getKali([1,2,3,4])

24

In [ ]:
def getBagi(myList):
    Bagi = 1
    for item in myList:
      Bagi = Bagi / item
    return Bagi

In [ ]:
getBagi([1,2,3])

0.16666666666666666

In [ ]:
def getaverage(myList):
    total = 0
    for item in myList:
        total += item
    average = total / len(myList)
    return average

In [ ]:
getaverage([1, 2, 3,4])

2.5

In [ ]:
def Bagi2Himpunan(a,b):
  sum = 0
  for i in a:
    sum += i
  sum2 = 0
  for i in b:
    sum2 += i
  result = sum/sum2
  return result
Bagi2Himpunan (a = [10, 20, 30], b = [2, 4, 6])

5.0

In [ ]:
def Kurang2Himpunan(a,b):
  sum = 0
  for i in a:
    sum += i
  sum2 = 0
  for i in b:
    sum2 += i
  result = sum-sum2
  return result

Kurang2Himpunan (a = [10, 20, 30], b = [2, 4, 6])

48